[user]
	name = Masnun Siam
	email = siam.cse.bsmrstu@gmail.com

[url "git@github.com:"]
    insteadOf = "https://github.com/"
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
